body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
}


/* page */

.login-page{
  height:100vh;
  background:#f4f3f1;

  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}


/* title */

.title{
  margin-bottom:40px;
  font-size:38px;
  font-weight:700;
  font-family:'Inter', sans-serif;
}

/* card */

.login-card{
  background:#c9bfae;
  padding:40px 60px;

  border-radius:30px;

  display:flex;
  flex-direction:column;
  align-items:center;
  gap:20px;

  width:260px;
}


/* card title */

.login-card h2{
  margin-bottom:10px;
  color:#555;
}


/* inputs */

.login-card input{
  width:100%;
  padding:12px;

  border:none;
  border-radius:12px;

  background:#e6e0d6;

  text-align:center;
}


/* button */

.login-btn{
  margin-top:10px;

  background:#b7a891;
  border:none;

  padding:10px 25px;

  border-radius:12px;

  font-size:16px;
  cursor:pointer;
}

.login-btn:hover{
  background:#a69781;
}


/* register */

.register-link{
  font-size:12px;
  color:#555;
}

.register-link span{
  cursor:pointer;
  text-decoration:underline;
}


/*  RESPONSIVE  */

@media (max-width:480px){

  .title{
    font-size:30px;
    text-align:center;
  }

  .login-card{
    width:90%;
    padding:30px;
  }

  .login-card input{
    padding:10px;
  }

}